
*.sdf
*.suo
*.ipch
wsview/WSView_h.h
wsview/WSView_i.c
*.aps
winscore/Winscore.opensdf
winscore/.vs/Winscore/FileContentIndex/0e310b7c-812a-475a-8015-3846727b9f7e.vsidx
winscore/.vs/Winscore/FileContentIndex/0e310b7c-812a-475a-8015-3846727b9f7e.vsidx
/winscore/.vs/Winscore/FileContentIndex
/winscore/.vs/Winscore/FileContentIndex
winscore/.vs/Winscore/v17/Browse.VC.db
/winscore/.vs/Winscore/v17
